body
{
	width: 100%;
	height: 100%;
	background-color: rgb(50,50,50);;
}

.container
{
	width: 1000px;
	height: auto;
	margin: 50px auto;
	background-color: white;
	border-radius: 5px;
	text-align: center;
	overflow:visible;
}

h1
{
	color: rgb(53, 80, 122);
}

td
{
	transition: 0.2s;
}

td:active
{
	background-color: rgb(175, 191, 216);
}
